*{
    margin: 0;
    padding: 0;
    /*border: 5px solid red;*/
    
   box-sizing: border-box;
}
body{
    width: 375px;
    height: 2615px;
    margin: 0 auto;
    font-family: 'Plus Jakarta Sans';
    font-style: normal; 
    background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
}
.topper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}

#header-skilled{
    margin-left: 16px;
    margin-top: 22px;
    width: 89px;
    height: auto;
    justify-content: flex-start;
}
.header-gs{
    width: 140px;
    height: 48px;
    background: #13183F;
    border-radius: 28px;
    color: #ffffff;
    cursor: pointer;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    margin-right: 16px;
    margin-top: 22px;
    justify-content: flex-end;
    border: none;
}
.header-gs:hover{
    background: #666CA3;
}

.middle{ 
    display: block;
    justify-content: center;
    align-items: center;
}
.maxdiv{
    font-family: 'Plus Jakarta Sans';
    font-style: normal; 
    margin-top: 38px;
    margin-left:16px ;
}
.maximize{
    
    font-weight: 800;
    font-size: 40px;
    line-height: 50px;
    width:343px ;
    height: 101px;
    margin-bottom: 26px;
}
.maxdiv p{
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #83869A;
    width: 343px;
    height: 78px;
    margin-bottom: 24px;
}
.maxdiv button{
    width: 167px;
    height: 56px;
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 31.5px;
    color: #FFFFFF;
    font-family: 'Plus Jakarta Sans';
    font-style: normal; 
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    border: none;
    cursor: pointer;
}
.maxdiv button:hover{
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);;
}
#hero{
    background-image: url(./image-hero-mobile@2x.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 370px;
    background-size: 100% 100%;
    
}
.intro{
    width: 343px;
    height: 120px;
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.intro h2{
    color: #ffffff;
    font-weight: 800;
    font-size: 24px;
    line-height: 32px;
    margin-left:28px ;
}
.courses{
    margin-left: 16px;
}
.grid{
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 10% 20% 20% 20% 20% 20%;
}
.class{
    width: 343px;
    height: 259px;
    background: #FFFFFF;
    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
    border-radius: 10px;
    margin-bottom: 40px;
}
.class img{
    transform: translateY(-50%);
    margin-left: 28px;
    width: 56px;
    height: 56px;
}
.class h3{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 25px;
    color: #13183F;
    margin-left: 28px;
}
.class p{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    color: #83869A;
    margin-left: 28px;
    margin-top:16px ;
}
.class button {
    width: 104px;
    height: 28px;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #F74780;
    border: none;
    cursor: pointer;
    margin-left: 28px;
    background: #ffffff;
    margin-top: 24px;
}
.class button:hover{
    color:  #FFA7C3;
    
}
footer{
    width: 375px;
    height: 120px;
    margin-top: 140px;
    background: #13183F;
    justify-content: space-between;
    align-items: center;
    display:inline-block;

}
.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 36px;

}
.footer-gs{
    background: linear-gradient(180deg, #4851FF 0%, #F02AA6 100%);
    border-radius: 28px;
    width: 140px;
    height: 48px;
    color: #ffffff;
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 28px;
    cursor: pointer;
    margin-right: 16px;
    border: none;
    
}
.footer-gs:hover{
    background:  linear-gradient(0deg, rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), linear-gradient(180deg, #4851FF -54.32%, #F02AA6 100%);
}
#light{
    margin-left: 16px;
}
@media (min-width:768px){
    body{
        width: 768px;
        height: 1760px;
        margin: 0 auto;
        background-image: url(./image-hero-tablet@2x.png);
        background-repeat: no-repeat;
        
    }
    .middle{
        display: flex;
        

    }
    
    
  
    .maxdiv{
        margin-left: 39px;
    }
}