*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
    scroll-behavior: smooth;
    align-items: center;
    justify-content: center;
    
}
section{
    width: 77,08vw;
}
/* starts header */  
header{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 1.66vw;
    width:77.1vw;
}
.get-started{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
    background: #13183F;
    border-radius: 28px;
    cursor: pointer;
    border: none;
    width: 167px;
    height: 56px;
   
    
}
.get-started:hover {
    background: #666ca3;
}


/* starts header section */

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
}
#webinfo h1{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 56px;
    line-height: 70.56px;
}
#webinfo p{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #83869a;
}
#webinfo button{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 31.5px;
    border: none;
    cursor: pointer;
    color: #ffffff;
    width: 167px;
    height: 63px;
}
#webinfo button:hover{
    background: linear-gradient(180deg,#F02AA6 0%,#FF6F48 100% );
    
}

#hero-mobile, #hero-tablet{
    display: none;
}
#hero-desktop{
    width: 100%;
    left:784px;
    top: -146.13px;
}

/* starting midpage */ 
.midpage{
    width: 100%%;
    background: linear-gradient(180deg, #FFFFFF 0%, #F0F1FF 100%);
    padding-bottom: 140px;
}

.grid{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 50% 50%;
    column-gap: 30px;
    row-gap: 80px;
}
.intro{
    background: linear-gradient(180deg, #FF6F48 0%, #F02AA6 100%);
    border-radius: 15px;
    width: 350px;
    height: 322px;
    color: #FFFFFF;
    
}
.intro h2{
    margin: 64px 32px 138px;
}
.courses{
    width: 350px;
    height: 322px;
    background: #FFFFFF;
    box-shadow: 0px 25px 50px rgba(6, 22, 141, 0.0442381);
    border-radius: 15px;
    
}
.courses h3{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 30px;
    color: #13183F;
    margin-left: 32px;
}
.courses p{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 28px;
    color: #83869a;
    margin: 24px 32px;
}
.courses button{
    font-family: 'Plus Jakarta Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 28px;
    color: #F02AA6;
    border: none;
    cursor: pointer;
    background: #ffffff;
    margin-left: 32px;
}
.courses img{
    transform: translateY(-50%);
}













footer{
    background: #13183F;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
